p{
  width: 600px;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #780116;
background-color: #dac3e8;
box-shadow: 1px 1px 10px 2px  black;
text-align: center;
border-radius: 25px;
font-weight: bold;
padding: 10px;

}