*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
display: flex;
justify-content: center;
align-items: center;
background-color: black;
}
.container{
width: 100%;
  /* background-image: linear-gradient(to bottom right, black,#9d0208); */
background-color: #fadde1;
/* border: 15px solid #9d0208; */
border-radius: 25px;
margin-top: 25px;
}
h1{
font-size: 40px;
font-style:normal;
padding: 20px;
color: black;
}
.second-container{
width: 100%;

/* background-color:black; */
display: flex;

}
.sidebar{
  width: 200px;
  background-color: transparent;
}

.sidebar-btn{
  margin-left: 20px;
  background-color:transparent;
  border: none;

} 
.sidebar-btn>.icon{
font-size: 60px;
color: black;
cursor: pointer;
}
.menu-list{

  /* background-color: #343a40; */
transform: translateX(-10%);
  opacity: 0;
  transition: all 0.3s ease;
 color:black;
}


.menu-list.show {
  transform: translateX(0);
  opacity: 1;
}
.menu-list>ul>li{
 list-style-type: none;
padding: 18px;
line-height: 30px;
font-size: 18px;
}
.menu-list>ul>li>a{
color: inherit;
text-decoration: none;
}
.menu-list>ul>li:hover{
  background-color :black;
  color: white;
  /* border: 2px solid #9d0208; */
}
.ui-icon{
  font-size: 25px;
 position: relative;
 top: 5px;
 left: 30px;
}
.tools{
width: 100%;
background-color:transparent;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 40px;

}
.tool-boxes{
width: 170px;
height: 200px;
background-color: #f5ebe0;
margin: 10px;
border-radius: 25px;
text-align: center;
color:black;
font-family: sans-serif;
box-shadow: 2px 2px 30px  3px  black;
 transition: transform 0.3s;
}
.tool-boxes:hover{
  transform: scale(1.2);
}

h3{
  font-size: 20px;
  padding: 25px;
}
.tool-boxes>.icon{
  font-size: 80px;
  margin-top: 20px;
 color: #ff5c8a;
}


.public>.container{
  background-color: orange;
}